.todo-list-template {
    background: #faf9fd;
    width: 512px;
    box-shadow: 0 3px 6px rbga(0,0,0,0.16), 0 3px 6px rbga(0,0,0,023);
    margin: 0 auto;
    margin-top: 4rem;
}

.title{
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
    background: #bac8ff;
    color: white;
}


.form-wrapper {
    padding: 1rem;
    border-bottom: 1px solid #bac8ff;
}

.todos-wrapper{
    min-height: 5rem;
}

